{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hajiri: Login</title>
    <link rel="stylesheet" href="{% static 'Css/Style.css' %}">
</head>
<body>
    <div class="Login_Bar">
        <a href="#">
        <img src="{%static 'img/img.png' %}" alt="Logo" id="applogo" href="#">
        </a>
        <div id="clock">
            <span id="hrs">00 </span>:<span id="min">00 </span>:<span id="sec">00 </span>
            <span id="session">AM</span>
        </div>
        <form methon="GET" action="login">
            <input type="text" placeholder="Enter ID"onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Enter ID'"/>
            <input type="password" placeholder="Enter Password" onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Enter Password'"/> <br>
            <input type="Submit" id="Login_Btn" value="Login"/><br>
            <a href="#" id="forgot_pw">Forgot Password?</a>
        </form>
    </div>
    <script src="{% static 'js/Script.js'%}"></script>
</body>
</html>