@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&display=swap");
:root {
  --primary-color:#007Af3;
  --link-color:#444444;
  --bg-color2: #20272e;
  --bg-color: #f2f2f2;
  --sec-color: #006BD6;
}

body {
  background: var(--bg-color);
  margin: 0;
  font-family: "Comic Neue", sans-serif;
}
button
{
  background-color: var(--primary-color);
  color: whitesmoke;
  border: 2px solid var(--primary-color);
  padding: 10px 10px;
}

.navbar {
  background-color: white;
  padding: 1em;
}
.container nav
{
  display: none;
}
.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.5em;
}
.navbar .logo span {
  color: red;
}

.navbar .container {
  display: flex;
  place-content: space-between;
}
.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: var(--link-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}
.hero .left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.5em;
}
.hero .left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}
.hero .left-col .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}
.hero .left-col .watch-video-cta {
  display: block;
  text-decoration: none;
  margin-top: 1em;
}
.hero .left-col .watch-video-cta img {
  margin-right: 0.7em;
}

.hero-img {
  width: 70%;
  margin-top: 3em;
}

section.features-section {
  background: var(--bg-color2);
  color: white;
}

ul.features-list {
  font-size: 1.3em;
  margin: 0;
  padding-left: 0.1em;
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}
ul.features-list li:before {
  content: "";
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../Img/bullet.svg);
  background-size: contain;
  margin-right: 0.5em;
}

.features-section img {
  display: none;
}

.testimonials {
  background: var(--primary-color);
  color: white;
}
.testimonials ul li {
  background: var(--sec-color);
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}
.testimonials ul li img {
  width: 5em;
  height: 5em;
  border: 5px solid var(--sec-color);
  border-radius: 50%;
  margin-top: -4.5em;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1.5px solid grey;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

nav .menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: var(--link-color);
  height: 100vh;
  padding: 1em;
}
nav ul.primary-nav {
  margin-top: 5em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}/*# sourceMappingURL=notmain.css.map */